@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//   /* general variables */
$shadow-1: 0 0 5px rgb(250, 234, 230);
$shadow-2: 0px 0px 20px 2px rgba(150, 150, 150, 0.3);
$transition: all 0.3s linear;
$transition-2: all 0.5s ease-in-out;
$line-1: 2px solid rgba(116, 108, 113, 0.5);
$line-2: 2px solid rgba(28, 28, 192, 0.5);
$line-3: 2px solid rgba(9, 224, 88, 0.5);

// colors
$White: hsl(0, 0%, 100%);
$Dark: #303b5a;
$black: #0f172a;
$bg-body: #f8fafc;
$Persian-blue: #2421ca00;

// /******** variables for this project ********/
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

// ## Gradients
// background
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);
// circle
$Violet-blue: hsla(256, 72%, 46%, 1);

// Neutral
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);

body {
  background-color: $bg-body;
  font-family: "Hanken Grotesk", "Open Sans", Arial, Helvetica, sans-serif;
}

.main {
  > h1 {
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
  }
  > .btn {
    margin: 1rem auto;
    display: block;
  }
}

// /* loading state */
.loading-state {
  animation: loading-spinner 0.7s linear infinite;
  border-radius: 50%;
  border: 5px solid $Green-teal;
  border-top-color: $White;
  height: 6rem;
  margin: 5rem auto;
  width: 6rem;
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}
// /* end of loading state */

// tours
.tours-stn {
  padding: 1rem;
  text-align: center;
  h1 {
    font-size: 2rem;
    color: $Dark;
    font-weight: 800;
  }
}

.tours-grid {
  max-width: 90rem;
  display: grid;
  margin: 2rem auto;
  gap: 5rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  @media (min-width: 70rem) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

// single tour
.tour-card {
  border-radius: 0.5rem;
  position: relative;
  box-shadow: $shadow-2;
  transition: $transition;

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.02);
  }
}

.price {
  padding: 0.75rem 1.2rem;
  border-top-right-radius: 0.5rem;
  background-color: $Green-teal;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
}

.info-ctn {
  padding: 2rem;
  h2 {
    margin: 1rem 0;
  }
}

.btn {
  cursor: pointer;
  margin: 1.5rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  background-color: #303b5a;
  font-size: 1rem;
  color: $White;
  text-transform: capitalize;
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
}

.read-more {
  padding: 0;
  margin: 0;
  background: none;
  color: $Green-teal;
  margin-left: 1rem;
}
